.App {
    text-align: center;
}

.lead {
    color: white;
    font-weight: bold;
    /* position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    margin-top: 50px;
    transform: translate(-50%, -50%) */
    font-size: 25px;
}

.jumbotron-fluid {
    height: 100vh;
    background: #0cebeb;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.display-3 {
    /* position: absolute;
    top: 100%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: 'Dosis', sans-serif; */
    font-size: 80px;
}

.logo {
    /* position: absolute;
    top: 15%;
    left: 48%;
    margin-right: -50%;
    margin-top: 50px;
    transform: translate(-50%, -50%);
    height: 10vh;
    width: 15vw; */
}

.btn {
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    margin-top: 50px;
    transform: translate(-50%, -50%);
}

.btn:hover {
    background-color: pink;
    border-color: pink;
    color: black;
    cursor: pointer;
}

.btn span {
    max-width: 0;
    -webkit-transition: max-width 0.8s;
    transition: max-width 0.8s;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
}

.btn:hover span {
    max-width: 8rem;
}

.step {
    height: 25vh;
    width: 15vh;
    margin-right: 5%;
    margin-top: 50px;
}

.insTitle {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.insPage {
    height: 80vh;
    width: 100%;
    margin-top: -15px;
    margin-bottom: 100px;
}

.infoBtn {
    position: absolute;
    /* top: 180%; */
    left: 50%;
    margin-right: -50%;
    margin-top: 50px;
    transform: translate(-50%, -50%);
}

.infoBtn:hover {
    background-color: pink;
    border-color: pink;
    color: black;
    cursor: pointer;
}

.infoBtn span {
    max-width: 0;
    -webkit-transition: max-width 0.8s;
    transition: max-width 0.8s;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
}

.infoBtn:hover span {
    max-width: 10rem;
}