#Install the following packages

###FOR CLIENT SIDE

#react-bootstrap
npm install react-bootstrap bootstrap

#react-router-dom
npm install react-router-dom

#styled-components
npm install --save styled-components



###SERVER SIDE

#express
#body-parser
#mongoose
#nodemon