.footerNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F6AF65;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: -10px;
    height: 35vh;
    text-align: center;
    overflow: hidden;
}

img {
    height: 8vh;
    width: 4vw;
    margin: 15px 40px 20px 20px;
    padding: 0px;
}

.navbar-text {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: -10px;
}

.test {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #aed9e0;
    max-width: 100%;
}

.footerMain {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.creators,
.endCredit {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}


/* Media Queries */


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    .test {
        margin-top: 40px;
    }
}


/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
    .test {
        margin-top: 100px;
    }
}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
    .test {
        margin-top: 550px;
    }
}


/* iPad Media Queries */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .test {
        margin-top: -250px;
    }
}