.footerNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F6AF65;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: -10px;
    height: 35vh;
    text-align: center;
    overflow: hidden;
}

img {
    height: 8vh;
    width: 4vw;
    margin: 15px 40px 20px 20px;
    padding: 0px;
}

.navbar-text {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: -10px;
}