nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #aed9e0;
    font-weight: bold;
    height: 8vh;
}

.nav-logo {
    color: white;
    font-size: 25px;
}

.nav-logo:hover {
    color: white;
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #aed9e0;
    font-weight: bold;
    color: black;
    padding: 20px;
    height: 8vh;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.nav-links:hover {
    color: #ffffff;
    font-style: normal;
    text-decoration: none;
}
.aboutPage {
    height: 90vh;
}

.aboutTitle {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.aboutDetails {
    font-size: 25px;
    font-weight: 400;
    text-align: justify;
}
