.footerNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F6AF65;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: -10px;
    height: 35vh;
    text-align: center;
    overflow: hidden;
}

img {
    /* height: 8vh;
    width: 4vw; */
    height: 6vh;
    width: 4vw;
    margin: 15px 40px 20px 20px;
    padding: 0px;
}

.navbar-text {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: -10px;
}

.test {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #3b3b3b;
    max-width: 100%;
}

.footerMain {
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    color: white;
    font-family: Montserrat light;
    margin-bottom: 15px;
}

.creators,
.endCredit {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    color: white;
    font-family: Montserrat light;
    margin-top: 10px;
}


/* Media Queries */


/* 
      ##Device = Most of the Smartphones Mobiles (Portrait)
      ##Screen = B/w 320px to 479px
    */

@media (min-width: 320px) and (max-width: 359px) {
    .test {
        margin-top: 600px;
    }
    .footerMain {
        font-size: 15px;
    }
    img {
        height: 40px;
        width: 20px;
        margin: 15px;
    }
    .creators,
    .endCredit {
        font-size: 15px;
        margin-top: 5px;
    }
}

@media (min-width: 360px) and (max-width: 425px) {
    .test {
        margin-top: 600px;
    }
    .footerMain {
        font-size: 15px;
    }
    img {
        height: 60px;
        width: 30px;
        margin: 15px;
    }
    .creators,
    .endCredit {
        font-size: 15px;
        margin-top: 5px;
    }
}

@media (min-width: 426px) and (max-width: 479px) {
    .test {
        margin-top: 350px;
    }
    .footerMain {
        font-size: 15px;
    }
    img {
        height: 60px;
        width: 30px;
        margin: 15px;
    }
    .creators,
    .endCredit {
        font-size: 15px;
        margin-top: 5px;
    }
}

@media (min-width: 480px) and (max-width: 529px) {
    .test {
        margin-top: 240px;
    }
    .navbar-collapse {
        background: #f4f9ff;
        width: 100px;
        z-index: 1000;
        padding-bottom: 20px;
        /*replace with desired color*/
    }
    .footerMain {
        font-size: 18px;
    }
    img {
        height: 60px;
        width: 30px;
        margin: 15px;
    }
    .creators,
    .endCredit {
        font-size: 15px;
        margin-top: 5px;
    }
}

@media (min-width: 530px) and (max-width: 650px) {
    .test {
        margin-top: 140px;
    }
    .navbar-collapse {
        background: #f4f9ff;
        width: 100px;
        z-index: 1000;
        padding-bottom: 20px;
        /*replace with desired color*/
    }
    .footerMain {
        font-size: 18px;
    }
    img {
        height: 60px;
        width: 30px;
        margin: 15px;
    }
    .creators,
    .endCredit {
        font-size: 15px;
        margin-top: 5px;
    }
}

@media (min-width: 651px) and (max-width: 767px) {
    .test {
        margin-top: 150px;
    }
    .navbar-collapse {
        background: #f4f9ff;
        width: 100px;
        z-index: 1000;
        padding-bottom: 20px;
        /*replace with desired color*/
    }
    .footerMain {
        font-size: 18px;
    }
    img {
        height: 60px;
        width: 30px;
        margin: 15px;
    }
    .creators,
    .endCredit {
        font-size: 15px;
        margin-top: 5px;
    }
}


/* iPad Media Queries */

@media only screen and (min-width: 768px) and (max-width: 800px) {
    .test {
        margin-top: 120px;
    }
    .footerMain {
        font-size: 18px;
    }
    img {
        height: 60px;
        width: 30px;
        margin: 15px;
    }
    .creators,
    .endCredit {
        font-size: 15px;
        margin-top: 5px;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1024px) {
    .test {
        margin-top: 100px;
    }
    .footerMain {
        font-size: 18px;
    }
    img {
        height: 60px;
        width: 30px;
        margin: 15px;
    }
    .creators,
    .endCredit {
        font-size: 15px;
        margin-top: 5px;
    }
}


/* 
            ##Device = Laptops, Desktops
            ##Screen = B/w 1025px to 1280px
          */

@media (min-width: 1025px) and (max-width: 1280px) {
    .test {
        margin-top: 100px;
    }
    .footerMain {
        font-size: 30px;
    }
    img {
        height: 80px;
        width: 40px;
        margin: 15px;
    }
    .creators,
    .endCredit {
        font-size: 25px;
        margin-top: 5px;
    }
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    .test {
        margin-top: 0px;
    }
}