nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    height: 10vh;
}

.navbar-brand {
    color: #3b3b3b !important;
    margin-left: 65px;
}

.nav-logo {
    color: white;
    font-size: 25px;
}

.nav-logo:hover {
    color: white;
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    color: black;
    padding: 20px;
    height: 8vh;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.navBtn {
    margin-top: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 40px;
    background: #4549b1;
    border-color: #4549b1;
    border-radius: 20px;
}

.navBtn:hover {
    background: yellowgreen;
    border-color: yellowgreen;
    cursor: pointer;
}

.sign-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    background: #4549b1;
    border-radius: 25px;
    padding: 1px;
    color: white;
}

.nav-links:hover {
    color: #ffffff;
    font-style: normal;
    text-decoration: none;
    cursor: pointer;
}

.aboutPage {
    margin-top: 100px;
    height: 100vh;
    background: #f4f9ff;
}

#about {
    margin-top: 0px;
}

.aboutTitle {
    font-size: 40px;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: Montserrat;
}

.aboutDetails {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    padding-right: 100px;
    padding-left: 100px;
    font-family: Yrsa;
}

.navbar-toggler {
    color: black;
}


/* 
      ##Device = Most of the Smartphones Mobiles (Portrait)
      ##Screen = B/w 320px to 479px
    */

@media (min-width: 320px) and (max-width: 480px) {
    .navbar-collapse {
        background: #f4f9ff;
        width: 100px;
        z-index: 1000;
        padding-bottom: 20px;
        /*replace with desired color*/
    }
    .aboutPage {
        height: 50vh;
    }
    .aboutTitle {
        font-size: 30px;
        margin-top: 50px;
    }
    .aboutDetails {
        font-size: 20px;
        padding-right: 25px;
        padding-left: 25px;
    }
    .navbar-brand {
        margin-left: 15px;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .navbar-collapse {
        background: #f4f9ff;
        width: 100px;
        z-index: 1000;
        padding-bottom: 20px;
        /*replace with desired color*/
    }
    .aboutPage {
        height: 70vh;
    }
    .aboutTitle {
        font-size: 30px;
        margin-top: 50px;
    }
    .aboutDetails {
        font-size: 20px;
        padding-right: 25px;
        padding-left: 25px;
    }
    .navbar-brand {
        margin-left: 50px;
    }
}


/* iPad Media Queries */

@media only screen and (min-width: 768px) and (max-width: 1024px) {}


/* 
        ##Device = Laptops, Desktops
        ##Screen = B/w 1025px to 1280px
      */

@media (min-width: 1025px) and (max-width: 1280px) {}