nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    height: 10vh;
}

.navbar {
    flex-wrap: nowrap;
}

.nav-logo {
    color: white;
    font-size: 25px;
}

.nav-logo:hover {
    color: white;
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    color: black;
    padding: 20px;
    height: 8vh;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.navBtn {
    margin-top: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 40px;
    background: #4549b1;
    border-color: #4549b1;
    border-radius: 20px;
}

.navBtn:hover {
    background: yellowgreen;
    border-color: yellowgreen;
}

.sign-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    background: #4549b1;
    border-radius: 25px;
    padding: 1px;
    color: white;
}

.nav-links:hover {
    color: #ffffff;
    font-style: normal;
    text-decoration: none;
    cursor: pointer;
}

.aboutPage {
    margin-top: 100px;
    height: 100vh;
    background: #f4f9ff;
}

#about {
    margin-top: 0px;
}

.aboutTitle {
    font-size: 40px;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: Montserrat;
}

.aboutDetails {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    padding-right: 100px;
    padding-left: 100px;
    font-family: Yrsa;
}

.mainLogo {
    height: 15vh;
    margin-top: 25px;
    max-width: 100%;
}


/* Media Queries */


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    .aboutPage {
        margin-top: 100px;
    }
    .mainLogo {
        height: 15vh;
        padding: 20px;
        width: 12vw;
    }
}


/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
    .mainLogo {
        height: 15vh;
        margin-top: 25px;
        width: 12vw;
    }
}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 767px) {
    .aboutPage {
        margin-top: 700px;
    }
    .navbar {
        flex-wrap: wrap;
    }
    .mainLogo {
        position: absolute;
        top: -40%;
        height: 10vh;
        width: 25vw;
    }
}


/* iPad Media Queries */

@media only screen and (min-device-width: 700px) and (max-device-width: 1024px) {
    .aboutPage {
        margin-top: -150px;
    }
    .mainLogo {
        height: 8vh;
        width: 18vw;
    }
}