.App {
    text-align: center;
}

.vectorLogo {
    margin-top: 5px;
    height: 450px;
    width: 550px;
}

.mainBtn {
    background: #485f71;
    border-color: #485f71;
    border-radius: 25px;
    margin-right: 310px;
}

.mainBtn span {
    max-width: 0;
    -webkit-transition: max-width 0.8s;
    transition: max-width 0.8s;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
}

.mainBtn:hover span {
    max-width: 10rem;
}

.lead {
    color: #3b3b3b;
    font-weight: bold;
    /* position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    margin-top: 50px;
    transform: translate(-50%, -50%) */
    font-size: 40px;
    text-align: left;
    font-family: Yrsa;
    padding-left: 50px;
    font-weight: lighter;
}

.jumbotron-fluid {
    height: 100vh;
    background: white;
}

.display-3 {
    /* position: absolute;
    top: 100%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: 'Dosis', sans-serif; */
    margin-top: 50px;
    font-size: 80px;
    color: #3b3b3b;
    text-align: left;
    padding-left: 50px;
}

.logo {
    height: 30vh;
    width: 25vw;
    margin-bottom: -10px;
}


/* .btn {
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    margin-top: 50px;
    transform: translate(-50%, -50%);
}

.btn:hover {
    background-color: pink;
    border-color: pink;
    color: black;
    cursor: pointer;
}

.btn span {
    max-width: 0;
    -webkit-transition: max-width 0.8s;
    transition: max-width 0.8s;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
}

.btn:hover span {
    max-width: 8rem;
} */

.step {
    height: 25vh;
    width: 15vh;
    margin-right: 5%;
    margin-top: 50px;
}

.insTitle {
    margin-top: 15px;
    text-align: center;
    /* font-weight: bold; */
    font-size: 40px;
    color: white;
    font-family: Montserrat;
}

h3,
h5 {
    color: white;
}

h3 {
    font-family: Montserrat;
}

h5 {
    font-family: Yrsa;
    font-weight: lighter;
    font-size: 23px;
}

.insPage {
    height: 100vh;
    width: 100%;
    background: #485f71;
    margin-top: -32px;
    padding-top: 30px;
}

.infoBtn {
    position: absolute;
    /* top: 180%; */
    left: 50%;
    margin-right: -50%;
    margin-top: 50px;
    border-radius: 25px;
    transform: translate(-50%, -50%);
    background: #4549b1;
    border-color: #4549b1;
}

.infoBtn:hover {
    background-color: #4549b1;
    border-color: #4549b1;
    cursor: pointer;
}

.infoBtn span {
    max-width: 0;
    -webkit-transition: max-width 0.8s;
    transition: max-width 0.8s;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
}

.infoBtn:hover span {
    max-width: 10rem;
}


/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {}


/* 
      ##Device = Most of the Smartphones Mobiles (Portrait)
      ##Screen = B/w 320px to 479px
    */

@media (min-width: 320px) and (max-width: 480px) {
    .logo {
        height: 20vh;
        width: 75vw;
    }
}


/* iPad Media Queries */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .logo {
        height: 30vh;
        width: 75vw;
        margin-bottom: -10px;
    }
}