.App {
    text-align: center;
}

.vectorLogo {
    margin-top: 60px;
    height: 450px;
    width: 550px;
}

.mainBtn {
    background: #485f71;
    border-color: #485f71;
    border-radius: 25px;
    float: left;
}

.mainBtn span {
    max-width: 0;
    -webkit-transition: max-width 0.8s;
    transition: max-width 0.8s;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
}

.mainBtn:hover span {
    max-width: 10rem;
}

.lead {
    color: #3b3b3b;
    font-weight: bold;
    font-size: 40px;
    text-align: left;
    font-family: Yrsa;
    font-weight: lighter;
    float: left;
}

.jumbotron-fluid {
    height: 100vh;
    background: white;
}

.display-3 {
    margin-top: 50px;
    font-size: 80px;
    color: #3b3b3b;
    text-align: left;
    /* padding-left: 50px; */
    float: left;
}

.logo {
    height: 30vh;
    width: 25vw;
    margin-bottom: -10px;
}

.step {
    height: 25vh;
    width: 15vh;
    margin-right: 5%;
    margin-top: 50px;
}

.insTitle {
    margin-top: 15px;
    text-align: center;
    /* font-weight: bold; */
    font-size: 40px;
    color: white;
    font-family: Montserrat;
}

h3,
h5 {
    color: white;
}

h3 {
    font-family: Montserrat;
}

h5 {
    font-family: Yrsa;
    font-weight: lighter;
    font-size: 23px;
}

.insPage {
    height: 105vh;
    width: 100%;
    background: #485f71;
    padding-top: 30px;
}

.infoBtn {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    margin-top: 80px;
    border-radius: 25px;
    transform: translate(-50%, -50%);
    background: #4549b1;
    border-color: #4549b1;
}

.infoBtn:hover {
    background-color: #4549b1;
    border-color: #4549b1;
    cursor: pointer;
}

.infoBtn span {
    max-width: 0;
    -webkit-transition: max-width 0.8s;
    transition: max-width 0.8s;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
}

.infoBtn:hover span {
    max-width: 10rem;
}


/* 
      ##Device = Most of the Smartphones Mobiles (Portrait)
      ##Screen = B/w 320px to 479px
    */

@media (min-width: 320px) and (max-width: 480px) {
    .logo {
        height: 20vh;
        width: 75vw;
    }
    .vectorLogo {
        margin-top: 0px;
        height: 250px;
        width: 300px;
    }
    .display-3 {
        margin-top: 10px;
        margin-left: -30px;
        font-size: 40px;
        color: #3b3b3b;
        text-align: left;
        padding-left: 50px;
    }
    .lead {
        color: #3b3b3b;
        font-size: 20px;
        text-align: left;
        font-family: Yrsa;
        font-weight: lighter;
        margin-left: 25px;
    }
    .mainBtn {
        margin-left: 30px;
        font-size: 10px;
    }
    .insPage {
        height: 120vh;
        margin-top: -45px;
    }
    .insTitle {
        margin-top: -10px;
        font-size: 20px;
    }
    .step {
        height: 20vh;
        width: 10vh;
        margin-top: -15px;
    }
    h3,
    h5 {
        margin-top: -15px;
        font-size: 15px;
    }
    .infoBtn {
        margin-top: 50px;
    }
}

@media (min-width:360px) and (max-width:480px) {
    .mainBtn {
        margin-left: 20px;
    }
    .lead {
        font-size: 20px;
        margin-left: 20px;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .vectorLogo {
        margin-top: 0px;
        height: 250px;
        width: 300px;
        /* margin-left: 290px; */
    }
    .display-3 {
        margin-top: -200px;
        font-size: 40px;
        color: #3b3b3b;
        margin-left: 20px;
    }
    .lead {
        margin-top: -150px;
        padding-right: 250px;
    }
    .mainBtn {
        margin-top: -100px;
        font-size: 10px;
    }
    .insPage {
        height: 125vh;
        margin-top: -300px;
    }
    .insTitle {
        font-size: 30px;
    }
    .step {
        height: 20vh;
        width: 10vh;
        margin-top: -15px;
    }
    h3,
    h5 {
        margin-top: -15px;
        font-size: 20px;
    }
    .infoBtn {
        margin-top: 50px;
    }
}


/* iPad Media Queries */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .logo {
        height: 30vh;
        width: 75vw;
        margin-bottom: -10px;
    }
    .vectorLogo {
        margin-top: -30px;
        height: 450px;
        width: 500px;
    }
    .display-3 {
        margin-top: 30px;
        color: #3b3b3b;
        text-align: left;
        padding-left: 50px;
    }
    .lead {
        color: #3b3b3b;
        font-weight: bold;
        font-size: 20px;
        text-align: left;
        font-family: Yrsa;
        padding-left: 50px;
        font-weight: lighter;
    }
    .mainBtn {
        background: #485f71;
        border-color: #485f71;
        border-radius: 25px;
        margin-right: 480px;
        font-size: 12px;
        text-align: center;
    }
    .insPage {
        margin-top: -100px;
        height: 80vh;
    }
    .insTitle {
        font-size: 30px;
    }
    h3,
    h5 {
        margin-top: -15px;
        font-size: 20px;
    }
    .infoBtn {
        margin-top: 50px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .lead {
        color: #3b3b3b;
        font-weight: bold;
        font-size: 35px;
        text-align: left;
        font-family: Yrsa;
        padding-left: 50px;
        font-weight: lighter;
    }
    .mainBtn {
        background: #485f71;
        border-color: #485f71;
        border-radius: 25px;
        margin-right: 450px;
        font-size: 15px;
        text-align: center;
    }
}


/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {}

@media (min-width: 992px) and (max-width: 1199px) {
    #colText {
        order: 2;
    }
    #colImg {
        order: 1;
    }
}